.info-popup {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;

    background: transparent;
    pointer-events: none;
    transition: background .1s ease-in;
    z-index: 999;

}

.info-popup-open {
    background: #000000b0;
    transition: background .1s ease-out;
    pointer-events: all;
    cursor: pointer;
}

.info {
    position: fixed;
    background: var(--block-background);
    border: 1px solid var(--border-color);
    border-radius: 1em 1em 0 0;
    padding: 10px;
    left: -1px;
    right: -1px;
    bottom: calc(-100dvh - 200px);
    max-height: 100dvh;
    transition: bottom .2s ease-in;
    overflow: auto;
    max-width: 500px;
    margin: 0 auto;
    user-select: none;
    z-index: 9990;
}

.info-open {
    bottom: 0;
    transition: bottom .2s ease-out;
}

.info .close-icon {
    position: sticky;
    left: calc(100% - 1em);
    top: 0;
}

.info-header {
    text-align: center;
    font-size: 1.3em;
    font-weight: bold;
    margin-bottom: 0.5em;
}

.info-buttons {
    text-align: right;
    margin-top: 1em;
}

@media (orientation: landscape) and (max-width: 767px) {
    .info {
        max-height: calc(100dvh + 12px);
    }
}
