html {
    background-color: #ffffff;
    overflow-x: hidden;
}

:root {
    --menu-background: #ffffff;
    --submenu-background: #fafafa;
}

.content {
    position: relative;
    z-index: 3;
}

.first-screen {
    background: radial-gradient(67.48% 311.93% at 73.22% 40.75%, rgba(255, 161, 166, 0.6) 0%, rgba(237, 157, 220, 0) 100%), rgba(238, 157, 220, 0.5);
    backdrop-filter: blur(0.6em);
    border-radius: 1.4em;
    padding: 4em;
    position: relative;
    margin-bottom: 2em;
    min-height: 600px;
}

.first-screen .team {
    font-size: 1em;
    margin-bottom: 0.5em;
}

.first-screen .team-name {
    font-size: 3.25em;
    font-weight: bold;
    max-width: 660px;
}

.first-screen .anvil {
    position: absolute;
    right: -3em;
    top: -3em;
    z-index: -1;
}

.first-screen .anvil img {
    max-width: 786px;
}

.top-left-image {
    position: absolute;
    left: 0;
    width: 1654px;
    height: 1654px;
    top: -133px;
    left: -714px;
}

.top-right-image {
    position: absolute;
    width: 1259px;
    height: 1112px;
    top: 735px;
    right: -928px;
}

.bottom-left-image {
    position: absolute;
    width: 1430px;
    height: 1112px;
    top: 2155px;
    left: -535px;
}

.bottom-right-image {
    position: absolute;
    width: 1827px;
    top: 2941px;
    right: -943px;
}

.arrow-link-mobile {
    display: none;
}

.nearest-quizzes {
    display: inline-grid;
    margin: 0 auto;
    grid-auto-flow: column;
    grid-auto-columns: 1fr;
    grid-gap: 1em;
    margin-bottom: 4em;
}

.nearest-quiz {
    border-radius: 1.2em;
    backdrop-filter: blur(10px);
    padding: 1.5em 1.5em 3.5em 1.5em;
    position: relative;
    min-height: 300px;
}

.nearest-quiz:first-child {
    background-color: #ffa1a680;
}

.nearest-quiz:nth-child(2) {
    background-color: #9cc2ff80;
}

.nearest-quiz .quiz-header {
    font-size: 0.9em;
    margin-left: 45px;
    margin-bottom: 0.5em;
}

.nearest-quiz .quiz-name {
    display: grid;
    grid-template-columns: 35px 1fr;
    grid-gap: 10px;
    align-items: top;
    margin-bottom: 0.5em;
}

.nearest-quiz .quiz-name img {
    width: 100%;
    margin-top: 0.5em;
}

.nearest-quiz .quiz-name div {
    font-size: 2.5em;
    font-weight: bold;
}

.nearest-quiz .quiz-description {
    font-size: 1.1em;
    margin-left: 45px;
    margin-bottom: 0.5em;
}

.nearest-quiz .quiz-date-address {
    position: absolute;
    bottom: 1.5em;
    left: 1.5em;
    right: 0;
    align-items: center;

    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-left: 45px;
}

.nearest-quiz .quiz-date, .nearest-quiz .quiz-address {
    display: grid;
    grid-template-columns: 1em 1fr;
    grid-gap: 5px;
    align-items: center;
}

.about-team {
    display: grid;
    grid-template-areas: "area1 area2 area3 ." ". . area4 area5";
    grid-gap: 1em;
    grid-auto-columns: 1fr;
    margin-bottom: 2em;
}

.about-team-block {
    padding: 2em 1em;
    backdrop-filter: blur(10px);
    border-radius: 1.2em;
    min-height: 224px;
}

.about-team-block:nth-child(1) {
    grid-area: area1;
    background-color: #9cc2ff80;
}

.about-team-block:nth-child(2) {
    grid-area: area2;
    background-color: #ee9ddc80;
}

.about-team-block:nth-child(3) {
    grid-area: area3;
    background-color: #f7909680;
}

.about-team-block:nth-child(4) {
    grid-area: area4;
    background-color: #9cc2ff80;
}

.about-team-block:nth-child(5) {
    grid-area: area5;
    background-color: #ee9ddc80;
}

.about-team-value {
    font-size: 5em;
    font-weight: bold;
}

.about-team-name {
    font-size: 1.1em;
    margin-top: -0.5em;
}

.top-albums {
    display: grid;
    grid-gap: 1em;
    grid-auto-columns: 1fr;
    grid-auto-rows: 90px;
    grid-template-areas:
        " a1  a1  a2  a2  a3  a3  a4  a4"
        " a1  a1  a2  a2  a3  a3  a4  a4"
        " a5  a6  a7  a7  a8  a8  a4  a4"
        " a9 a10  a7  a7  a8  a8  a4  a4"
        "a11 a11  a7  a7 a12 a12 a13 a13"
        "a11 a11  a7  a7 a12 a12 a13 a13";
    margin-bottom: 2em;
}

.top-album:nth-child(1) { grid-area: a1; }
.top-album:nth-child(2) { grid-area: a2; }
.top-album:nth-child(3) { grid-area: a3; }
.top-album:nth-child(4) { grid-area: a4; }
.top-album:nth-child(5) { grid-area: a5; }
.top-album:nth-child(6) { grid-area: a6; }
.top-album:nth-child(7) { grid-area: a7; }
.top-album:nth-child(8) { grid-area: a8; }
.top-album:nth-child(9) { grid-area: a9; }
.top-album:nth-child(10) { grid-area: a10; }
.top-album:nth-child(11) { grid-area: a11; }
.top-album:nth-child(12) { grid-area: a12; }
.top-album:nth-child(13) { grid-area: a13; }

.top-album img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    padding: 2px;
    border-radius: 1.2em;
}

@media (max-width: 1023px) {
    .first-screen .anvil {
        position: unset;
    }

    .first-screen .anvil img {
        max-width: 100%;
    }

    .about-team {
        grid-template-areas: "area1 area2 area3" ". area4 area5";
    }

    .top-albums {
        grid-template-areas:
            " a1  a1  a2  a2  a3  a3"
            " a1  a1  a2  a2  a3  a3"
            " a4  a5  a6  a6  a7  a7"
            " a8  a9  a6  a6  a7  a7"
            "a10 a10  a6  a6 a11 a11"
            "a10 a10  a6  a6 a11 a11";
    }

    .top-album:nth-child(12) { display: none; }
    .top-album:nth-child(13) { display: none; }
}

@media (max-width: 767px) {
    html {
        font-size: 12px;
    }

    h2 {
        font-size: 2em;
    }

    .top-left-image {
        width: 692px;
        height: 692px;
        top: 296px;
        left: -305px;
    }

    .top-right-image {
        width: 531px;
        height: 469px;
        top: 1034px;
        right: -316px;
    }

    .bottom-left-image {
        width: 1218px;
        top: 2155px;
        left: -600px;
    }

    .bottom-right-image {
        width: 809px;
        top: 4153px;
        right: -423px;
    }

    .arrow-link-mobile {
        display: block;
        margin-bottom: 2em;
    }

    .arrow-link-mobile .arrow-link {
        width: 100%;
    }

    .arrow-link-mobile .arrow-link {
        grid-template-columns: 1fr 3em;
        padding-top: 5px;
        padding-bottom: 5px;
        height: 100%;
    }

    .arrow-link-mobile .arrow-link .arrow {
        height: 3em;
        width: 3em;
        aspect-ratio: 1;
    }

    .first-screen {
        padding: 2em;
        min-height: unset;
    }

    .first-screen .team-name {
        font-size: 3em;
        max-width: 320px;
    }

    .link-header {
        grid-template-columns: 1fr;
    }

    .link-header .arrow-link {
        display: none;
    }

    .nearest-quizzes {
        display: grid;
        grid-template-columns: 1fr;
        grid-auto-flow: row;
    }

    .nearest-quiz {
        min-height: unset;
    }

    .nearest-quiz .quiz-header {
        margin-left: 40px;
    }

    .nearest-quiz .quiz-name {
        grid-template-columns: 30px 1fr;
    }

    .nearest-quiz .quiz-description {
        margin-left: 40px;
    }

    .nearest-quiz .quiz-date-address {
        margin-left: 40px;
    }

    .about-team {
        grid-template-areas: "area1 area2 area3" "area4 area5 .";
    }

    .top-albums {
        grid-auto-rows: 120px;
        grid-template-areas:
            "a1 a1 a2 a2"
            "a1 a1 a2 a2"
            "a3 a4 a5 a5"
            "a6 a7 a5 a5"
            "a8 a8 a5 a5"
            "a8 a8 a5 a5";
    }

    .top-album:nth-child(9) { display: none; }
    .top-album:nth-child(10) { display: none; }
    .top-album:nth-child(11) { display: none; }
}

@media (max-width: 419px) {
    .about-team {
        grid-template-areas: "area1 area2" "area3 area4" "area5 .";
    }

    .top-albums {
        grid-auto-rows: 100px;
        grid-template-areas:
            "a1 a1"
            "a1 a1"
            "a2 a3"
            "a4 a3"
            "a5 a6"
    }

    .top-album:nth-child(7) { display: none; }
    .top-album:nth-child(8) { display: none; }
}

@media (max-width: 359px) {
    .about-team {
        grid-template-areas: "area1" "area2" "area3" "area4" "area5";
    }
}
