.basic-input {
    width: 100%;
    border-left: none;
    border-right: none;
    border-top: none;
    border-bottom: 1px solid transparent;
    padding: 0;
    background: transparent;
    outline: none;
    font-size: 1em;
    font-family: Inter;
    transition: border-color 150ms ease-in;
}

.basic-input:hover, .basic-input:focus {
    transition: border-color .15s ease-in;
    border-bottom-color: var(--main-color);
}

.basic-input:disabled, .basic-input:disabled:hover, .basic-input:disabled:focus {
    color: var(--border-color);
    border: none;
}

.basic-input::-webkit-outer-spin-button, .basic-input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

.basic-textarea {
    display: block;
    width: 100%;
    border: 1px solid var(--border-color);
    border-radius: 0.4em;
    padding: 0.3em;
    background: transparent;
    outline: none;
    font-family: Inter;
    font-size: 0.9em;
    line-height: 1.25em;
    transition: border-color 150ms ease-in;
    min-height: 5.8em;
    resize: vertical;
}

.basic-textarea:hover, .basic-textarea:focus {
    transition: border-color .15s ease-in;
    border-color: var(--main-color);
}

.basic-textarea:disabled, .basic-textarea:disabled:hover, .basic-textarea:disabled:focus {
    color: var(--border-color);
    border-color: var(--border-color);
}

.basic-select {
    border: 1px solid var(--border-color);
    border-radius: 0.8em;
    padding: 0.4em 0.7em;
    background: transparent;
    font-size: 1em;
    font-family: Inter;
    transition: border-color 150ms ease-in;

    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    outline: none;
    cursor: pointer;
}

.basic-select:hover, .basic-select:focus {
    border-color: var(--main-color);
    transition: border-color .15s ease-in;
}

.basic-select:disabled, .basic-select:disabled:hover, .basic-select:disabled:focus {
    color: var(--input-disabled-color);
    border: none;
}

.basic-button {
    background: var(--block-background);
    color: var(--text-color);
    text-decoration: none;
    padding: 0.6em 0.8em;
    border: 1px solid var(--text-color);
    border-radius: 0.6em;
    font-size: 1em;
    cursor: pointer;
    outline: none;
    display: block;
    text-align: center;
    width: 100%;
}

.basic-button[disabled] {
    background: var(--disabled-color) !important;
    border-color: var(--border-color) !important;
    color: var(--subtext-color) !important;
    pointer-events: none;
    user-select: none;
}

.gradient-button {
    background: var(--gradient-button-background);
    border-color: var(--gradient-button-border);
    color: var(--gradient-button-color);
    transition: all .1s ease-out;
}

.gradient-button:hover {
    background: var(--gradient-button-hover-background);
    border-color: var(--gradient-button-hover-border);
    color: var(--gradient-button-hover-color);
    transition: all .1s ease-in;
}

.error-input {
    color: var(--error-color) !important;
    border-color: var(--error-color) !important;
}

.text-input {
    background: transparent;
    border: none;
    outline: none;
}

.switch-checkbox {
    position: relative;
    display: inline-block;
    width: 1.76em;
    height: 1em;
}

.switch-checkbox input {
    display: none;
}

.switch-checkbox-slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #aaaaaa;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 1em;
}

.switch-checkbox-slider:before {
    position: absolute;
    content: "";
    height: 0.764em;
    width: 0.764em;
    left: 0.117em;
    bottom: 0.117em;
    background-color: #ffffff;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 50%;
}

.switch-checkbox input:checked + .switch-checkbox-slider {
    background-color: var(--main-color);
}

.switch-checkbox input:focus + .switch-checkbox-slider {
    box-shadow: 0 0 1px var(--main-color);
}

.switch-checkbox input:checked + .switch-checkbox-slider:before {
    -webkit-transform: translateX(0.764em);
    -ms-transform: translateX(0.764em);
    transform: translateX(0.764em);
}

.icon-input {
    display: grid;
    grid-template-columns: 18px 1fr;
    grid-template-rows: max-content 1fr;
    grid-gap: 20px 10px;
    align-items: center;
    padding: 20px 25px;
    border-radius: 30px;

    background: var(--icon-input-background);
    border: 1px solid var(--icon-input-border);
}

.icon-input-info {
    background: transparent;
    border: none !important;
    padding: 0 !important;
    grid-gap: 8px 10px !important;
}

.icon-input > label {
    grid-column: 1 / span 2;
    display: block;
    cursor: pointer;
    font-size: 14px;
    padding-left: 28px;
}

.icon-input > svg, .icon-input > img {
    width: 100%;
    vertical-align: bottom;
}

.icon-input > svg {
    fill: var(--icon-input-icon-color);
}

.icon-input > input, .icon-input > select, .icon-input > textarea {
    font-size: 18px;
}

.icon-input > div {
    display: grid;
    grid-auto-flow: column;
    grid-gap: 0.5em;
}

.icon-input > div:has(.user-select) {
    display: block;
}

.icon-input:has(.error-input) label {
    color: var(--error-color);
}

.icon-input:has(.error-input) svg {
    fill: var(--error-color) !important;
}

.color-input {
    padding: 0.5em;
    border-radius: 0.5em;

    background: var(--icon-input-background);
    border: 1px solid var(--icon-input-border);
}

.color-input-value {
    display: grid;
    grid-template-columns: 1.5em 1fr;
    grid-gap: 0.2em;
    align-items: center;
}

.color-input .color-value {
    width: 1.2em;
    height: 1.2em;
    border-radius: 100%;
    cursor: pointer;
}

.color-input .color-input-inputs {
    border-top: 1px solid var(--border-color);
    margin-top: 0.5em;
    padding-top: 0.5em;
}

.color-input .color-input-colors {
    display: inline-grid;
    grid-template-columns: repeat(10, 1fr);
    grid-gap: 0.5em;
}

.color-input .color-input-color {
    width: 1.2em;
    height: 1.2em;
    border-radius: 100%;
    cursor: pointer;
    border: 1px solid var(--border-color);
}

.color-input .color-input-selected-color {
    border: 1px solid var(--text-color);
}

@media (max-width: 767px) {
    .icon-input {
        grid-template-columns: 16px 1fr;
        grid-gap: 10px 5px;
        padding: 15px 10px;
        border-radius: 20px;
    }

    .icon-input > label {
        font-size: 14px;
        padding-left: 21px;
    }

    .icon-input > input, .icon-input > select, .icon-input > textarea {
        font-size: 16px;
    }

    .icon-input-info {
        grid-gap: 4px 5px !important;
    }
}
