.content {
    display: grid;
    align-items: center;
    justify-items: center;
    margin: 0 auto;
}

.sign-form {
    background: #ffffff4d;
    border: 1px solid var(--border-color);
    backdrop-filter: blur(10px);

    border-radius: 2em;
    padding: 3em 2em;
    width: 100%;
    max-width: 850px;
}

.sign-form .sign-button {
    text-align: right;
    margin-top: 1em;
    font-size: 0.95em;
}

.login-header {
    font-size: 2em;
    font-weight: bold;
    margin-bottom: 1em;
}

.sign-option {
    margin-top: 1em;
    text-align: center;
    color: var(--subtext-color);
    font-size: 0.95em;
}

#sign-type {
    display: none;
}

.sign-in, .sign-up {
    opacity: 1;
    transition: 0.3s opacity;
}

#sign-type:checked ~ .sign-in {
    max-height: 0;
    margin: 0;
    padding: 0;
    border: none;
    overflow: hidden;
    transition: 0.3s all;
}

#sign-type:not(:checked) ~ .sign-up {
    max-height: 0;
    margin: 0;
    padding: 0;
    border: none;
    opacity: 0;
    overflow: hidden;
    transition: 0.3s all;
}

.icon-input {
    margin-bottom: 0.5em;
    padding: 0.7em 1em;
    background: #ffffff99;
    border-radius: 1.5em;
}

.captcha-block {
    text-align: center;
}

.g-recaptcha {
    display: inline-block;
    margin: 0 auto;
}

@media (max-width: 767px) {
    .sign-form {
        padding: 30px 10px;
    }

    .login-header {
        font-size: 1.5em;
        text-align: center;
    }

    .icon-input {
        padding: 0.7em 0.7em;
        border-radius: 1em;
    }
}
