.content {
    display: grid;
    align-items: center;
    justify-items: center;
    margin: 0 auto;
}

.blob-1 {
    width: 1004px;
    height: 983px;
    top: 410px;
    left: -369px;
}

.blob-2 {
    width: 973px;
    height: 996px;
    top: -187px;
    right: -117px;
}

.sign-form {
    background: #ffffff4d;
    border: 1px solid var(--border-color);
    backdrop-filter: blur(10px);

    border-radius: 20px;
    padding: 80px 48px;
    width: 100%;
    max-width: 850px;
}

.sign-form .sign-button {
    margin-top: 20px;
}

.login-header {
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 1em;
}

.sign-option {
    margin-top: 1em;
    text-align: center;
    color: var(--subtext-color);
    font-size: 0.95em;
}

#sign-type {
    display: none;
}

.sign-in, .sign-up {
    opacity: 1;
    transition: 0.3s opacity;
}

#sign-type:checked ~ .sign-in {
    max-height: 0;
    margin: 0;
    padding: 0;
    border: none;
    overflow: hidden;
    transition: 0.3s all;
}

#sign-type:not(:checked) ~ .sign-up {
    max-height: 0;
    margin: 0;
    padding: 0;
    border: none;
    opacity: 0;
    overflow: hidden;
    transition: 0.3s all;
}

.icon-input {
    margin-bottom: 20px;
    padding: 0.7em 1em;
    background: #ffffff99;
    border-radius: 20px;
}

.captcha-block {
    text-align: center;
}

.g-recaptcha {
    display: inline-block;
    margin: 0 auto;
}

@media (min-width: 768px) {
    .sign-form .sign-button .arrow-link-full {
        display: inline-grid;
    }
}

@media (max-width: 1023px) {
    .blob-1 {
        width: 709px;
        height: 694px;
        top: 384px;
        left: -376px;
    }

    .blob-2 {
        width: 647px;
        height: 662px;
        top: -76px;
        right: -197px;
    }
}

@media (max-width: 767px) {
    .blob-1 {
        width: 415px;
        height: 406px;
        top: 284px;
        left: -157px;
    }

    .blob-2 {
        width: 321px;
        height: 328px;
        top: -61px;
        right: -113px;
    }

    .sign-form {
        padding: 30px 10px;
    }

    .login-header {
        font-size: 30px;
        text-align: center;
    }

    .icon-input {
        padding: 20px 10px;
        margin-bottom: 10px;
    }
}
