:root {
    --background-color: #f1f1f1;
    --text-font: Inter;
    --text-color: #2e2836;
    --subtext-color: #515856;
    --main-color: #c238a2;
    --circle-color: #fddc81;
    --block-background: #ffffff;
    --disabled-color: #eeeeee;

    --menu-background: #f1f1f1;
    --menu-hamb-color: #ee9ddc;
    --submenu-background: #ececec;

    --icon-color: var(--main-color);
    --link-color: var(--main-color);
    --border-color: #d9d9d9;

    --max-width: 1440px;
    --menu-height: 102px;

    /* status */
    --error-color: #f44336;
    --error-background: #f4d3d0;
    --success-color: #4caf50;
    --success-background: #d4e7d5;
    --warning-color: #967132;
    --warning-background: #f8f3d6;
    --info-color: #4480ae;
    --info-background: #cde8f5;

    /* buttons */
    --gradient-button-color: #444444;
    --gradient-button-border: #a1dbff;
    --gradient-button-background: radial-gradient(67.48% 311.93% at 73.22% 40.75%, #a1dbffc9 0%, #ed9ddc00 100%), #c69deed0;

    --gradient-button-hover-color: #222222;
    --gradient-button-hover-border: #ed9ddc;
    --gradient-button-hover-background: radial-gradient(67.48% 311.93% at 73.22% 40.75%, #a1dbffa9 0%, #ed9ddc00 100%), #c69deeb0;

    /* icon-input  */
    --icon-input-background: #f4f4f4;
    --icon-input-border: var(--border-color);
    --icon-input-icon-color: #c239a3;
    --icon-input-input-color: var(--text-color);

    /* search */
    --search-color: var(--subtext-color);
    --search-icon-color: var(--subtext-color);
    --search-background: #f4f4f4;
    --search-border: var(--border-color);

    --search-focus-color: var(--text-color);
    --search-focus-icon-color: var(--text-color);
    --search-focus-background: #eddce9;
    --search-focus-border: var(--main-color);

    /* user-select */
    --user-select-hover-background: #f0f0f0;
    --user-select-count-background: #4caf50;
    --user-select-count-color: #ffffff;

    /* analytics */
    --analytics-button-background: #fddc81;
    --analytics-button-color: #2e2836b2;

    --analytics-button-selected-background: #f9dc5c;
    --analytics-button-selected-color: #2e2836;
}

@font-face {
    font-family: Inter;
    src: url("../fonts/Inter-Regular.ttf");
}

@font-face {
    font-family: Montserrat;
    src: url("../fonts/Montserrat-Regular.ttf");
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 16px;
    font-family: var(--text-font);
    color: var(--text-color);
    background-color: var(--background-color);
    text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

html:not([data-user-role="admin"]) .admin-block {
    display: none;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100dvh;
}

main {
    position: relative;
    flex: 1;
    overflow: hidden;
}

.background-layer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    z-index: 0;
}

.background-blob {
    position: absolute;
    z-index: 0;
}

.gradient-1 {
    width: 1654px;
    height: 1654px;
    top: 1099px;
    left: -966px;
    opacity: 0.7;
}

.gradient-2 {
    width: 1654px;
    height: 1654px;
    top: 252px;
    right: -506px;
    opacity: 0.7;
}

h1 {
    font-size: 3em;
    margin-bottom: 1em;
}

h2 {
    font-size: 2em;
    margin-bottom: 1em;
}

h3 {
    font-size: 1.3em;
    margin-bottom: 1em;
}

ul {
    margin-left: 20px;
}

.hidden {
    display: none !important;
}

.no-overflow {
    overflow: hidden;
}

.description {
    margin-top: -1em;
    margin-bottom: 1em;
    color: var(--subtext-color);
}

.content {
    max-width: var(--max-width);
    margin: 0 auto;
    padding: 2em 75px 5em 75px;
    min-height: calc(100dvh - var(--menu-height));
    z-index: 1;
    position: relative;
}

.link {
    color: var(--link-color);
    text-decoration: none;
    cursor: pointer;
}

.link:hover {
    text-decoration: underline solid;
}

.arrow-link {
    border-radius: 2em;
    padding: 4px 5px 4px 15px;
    background-color: #ee9ddc80;
    display: inline-grid;
    align-items: center;
    grid-template-columns: 1fr 1.7em;
    grid-gap: 0.5em;
    cursor: pointer;
    text-decoration: none;
    color: var(--text-color);
    backdrop-filter: blur(10px);
}

.arrow-link-full {
    display: grid;
    padding: 10px 5px 10px 15px;
    border-radius: 40px;
}

.arrow-link .text {
    font-size: 1.1em;
}

.arrow-link .arrow {
    display: grid;
    align-items: center;
    justify-items: center;
    border-radius: 100%;
    background-color: var(--circle-color);
    width: 100%;
    aspect-ratio: 1;
    padding: 5px;
}

.arrow-link .arrow img {
    width: 100%;
}

.arrow-link:hover {
    background-color: #ee9ddc;
}

.circle-link {
    width: 2em;
    height: 2em;
    padding: 4px;
    border-radius: 100%;
    background-color: var(--circle-color);
    display: inline-block;
    cursor: pointer;
}

.circle-link img {
    width: 100%;
}

.add-link {
    margin-top: -1.5em;
    margin-bottom: 2em;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: end;
}

.link-header {
    display: grid;
    grid-template-columns: 1fr max-content;
    align-items: center;
    margin-bottom: 1.5em;
}

.link-header h1, .link-header h2 {
    margin-bottom: 0;
}

.loader {
    padding: 10px 0;
    text-align: center;
}

.circle {
    display: inline-block;
    width: 0.6em;
    height: 0.6em;
    border-radius: 100%;
}

.image-icon {
    border-radius: 100%;
    width: 1em;
    height: 1em;
    text-align: center;
    cursor: pointer;
}

.image-icon:hover {
    background: #fddc81;
}

/* bread crumbs */
.bread-crumbs {
    margin-bottom: 1em;
    display: flex;
    gap: 5px;
    align-items: center;
}

.bread-crumbs img {
    width: 1.5em;
}

.bread-crumbs a {
    text-decoration: none;
    color: var(--text-color);
}

.bread-crumbs .bread-crumbs-current {
    color: #ee9ddc;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

/* close icon */
.close-icon {
    position: absolute;
    right: 0.5em;
    top: 0;

    display: block;
    height: 1.5em;
    width: 1.5em;
    cursor: pointer;
}

.close-icon:before, .close-icon:after {
    background: var(--subtext-color);
    content: "";
    display: block;
    height: 2px;
    top: 12px;
    position: absolute;
    transition: all .2s ease-out;
    width: 100%;
}

.close-icon:before {
    transform: rotate(-45deg);
}

.close-icon:after {
    transform: rotate(45deg);
}

.close-icon:hover:before, .close-icon:hover:after {
    background: var(--main-color);
}

.search-results {
    color: var(--subtext-color);
    font-size: 0.8em;
    text-align: center;
    margin-top: -0.8em;
    margin-bottom: 1em;
}

/* vertical ham */
.vertical-ham {
    cursor: pointer;
    padding: 0.15em;
}

.vertical-ham div {
    width: 0.3em;
    height: 0.3em;
    border-radius: 100%;
    background: var(--subtext-color);
    margin: 0 auto 0.2em auto;
}

.vertical-ham div:last-child {
    margin-bottom: 0;
}

.vertical-ham:hover div {
    background: var(--main-color);
}

.vertical-ham[disabled] {
    pointer-events: none;
    user-select: none;
}

.vertical-ham[disabled] div {
    background-color: var(--border-color);
}

/* notifications */
#notifications {
    position: fixed;
    display: grid;
    grid-gap: 0.5em;
    bottom: 15px;
    justify-items: center;
    max-width: calc(var(--max-width) - 10px);
    left: 0;
    right: 0;
    margin: 0 auto;
    max-height: 25vh;
    pointer-events: none;
    user-select: none;
    overflow: hidden;
    z-index: 9999;
}

.notification {
    opacity: 0;
    padding: 0.8em 1em;
    background-color: var(--block-background);
    border: 1px solid var(--border-color);
    border-radius: 0.8em;
    transition: opacity .2s ease-out;
}

.notification-open {
    opacity: 1;
    transition: opacity .2s ease-out;
}

.error-notification {
    background-color: var(--error-background) !important;
    border-color: var(--error-color) !important;
    color: var(--error-color) !important;
}

.success-notification {
    background-color: var(--success-background) !important;
    border-color: var(--success-color) !important;
    color: var(--success-color) !important;
}

.warning-notification {
    background-color: var(--warning-background) !important;
    border-color: var(--warning-color) !important;
    color: var(--warning-color) !important;
}

.info-notification {
    background-color: var(--info-background) !important;
    border-color: var(--info-color) !important;
    color: var(--info-color) !important;
}

@media (max-width: 767px) {
    :root {
        --menu-height: 76px;
    }

    .gradient-1 {
        width: 1000px;
        height: 1000px;
        top: 144px;
        left: -215px;
    }

    .gradient-2 {
        width: 940px;
        height: 940px;
        top: 2357px;
        left: -582px;
    }

    ul {
        margin-left: 12px;
    }

    .content {
        padding: 1em 16px 3em 16px;
    }

    h1 {
        font-size: 2em;
    }

    h2 {
        font-size: 1.2em;
    }

    h3 {
        font-size: 1.1em;
    }

    #notifications {
        margin: 0 10px;
        bottom: 10px;
    }
}
