:root {
    --background-color: #f1f1f1;
    --text-font: Inter;
    --text-color: #2e2836;
    --subtext-color: #515856;
    --main-color: #c238a2;
    --circle-color: #fddc81;
    --block-background: #ffffff;

    --icon-color: var(--main-color);
    --link-color: var(--main-color);
    --border-color: #d9d9d9;

    --max-width: 1440px;
    --menu-height: 55px;

    /* status */
    --error-color: #f44336;
    --error-background: #f4d3d0;
    --success-color: #4caf50;
    --success-background: #d4e7d5;
    --warning-color: #967132;
    --warning-background: #f8f3d6;
    --info-color: #4480ae;
    --info-background: #cde8f5;

    /* buttons */
    --gradient-button-color: #fff;
    --gradient-button-border: var(--main-color);
    --gradient-button-background: linear-gradient(45deg, #e9273f 0%, #c239a3 100%);

    --gradient-button-hover-color: #fafafa;
    --gradient-button-hover-border: var(--main-color);
    --gradient-button-hover-background: linear-gradient(45deg, #e9425c 0%, #cc50a9 100%);

    /* icon-input  */
    --icon-input-background: #f4f4f4;
    --icon-input-border: var(--border-color);
    --icon-input-icon-color: var(--icon-color);
    --icon-input-input-color: var(--text-color);

    /* search */
    --search-color: var(--subtext-color);
    --search-icon-color: var(--subtext-color);
    --search-background: #f4f4f4;
    --search-border: var(--border-color);

    --search-focus-color: var(--text-color);
    --search-focus-icon-color: var(--text-color);
    --search-focus-background: #eddce9;
    --search-focus-border: var(--main-color);
}

@font-face {
    font-family: Inter;
    src: url("/fonts/Inter-Regular.ttf");
}

@font-face {
    font-family: Montserrat;
    src: url("/fonts/Montserrat-Regular.ttf");
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 16px;
    font-family: var(--text-font);
    color: var(--text-color);
    background-color: var(--background-color);
}

h1 {
    font-size: 3em;
    margin-bottom: 1em;
}

h2 {
    font-size: 2em;
    margin-bottom: 1em;
}

ul {
    margin-left: 20px;
}

.hidden {
    display: none !important;
}

.content {
    max-width: var(--max-width);
    margin: 0 auto;
    padding: 1em 3em 1em 3em;
}

.link {
    color: var(--link-color);
    text-decoration: none;
    border-bottom: 1px dashed var(--link-color);
    cursor: pointer;
    display: inline-block;
}

.link:hover {
    border-bottom-style: solid;
}

.arrow-link {
    border-radius: 2em;
    padding: 2px 2px 2px 1em;
    background-color: rgba(238, 157, 220, 0.5);
    display: inline-grid;
    height: calc(2em + 4px);
    align-items: center;
    grid-template-columns: 1fr 2em;
    grid-gap: 1em;
}

.arrow-link {
    text-decoration: none;
    color: var(--text-color);
}

.arrow-link .text {
    font-size: 1.1em;
}

.arrow-link .arrow {
    display: inline-grid;
    align-items: center;
    justify-items: center;
    border-radius: 100%;
    background-color: var(--circle-color);
    width: 2em;
    height: 2em;
}

.arrow-link .arrow img {
    width: 100%;
}

.circle-link {
    width: 2em;
    height: 2em;
    border-radius: 100%;
    background-color: var(--circle-color);
}

.circle-link img {
    width: 100%;
}

.link-header {
    display: grid;
    grid-template-columns: 1fr max-content;
}

.loader {
    padding: 10px 0;
    text-align: center;
}

/* faq */
.faq {
    padding: 1.2em;
    border-radius: 1.2em;
    margin-bottom: 1.3em;

    background-color: #ee9ddc80;
    backdrop-filter: blur(10px);
}

.faq-question {
    display: grid;
    grid-template-columns: 1fr 2.5em;
    align-items: center;
    grid-gap: 10px;
    min-height: 2.5em;
}

.faq-question label {
    cursor: pointer;
    font-size: 1.1em;
    font-weight: bold;
}

.faq-question .faq-circle {
    background-color: var(--circle-color);
    border-radius: 100%;
    width: 2.5em;
    height: 2.5em;
    display: grid;
    align-items: center;
    justify-items: center;
}

.faq-question img {
    width: 100%;
    transition: transform 0.2s, filter 0.2s;
}

.faq input {
    display: none;
}

.faq .term {
    font-weight: bold;
    color: var(--main-color);
}

.faq-answer {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s;
    line-height: 1.25em;
}

.faq input:checked ~ .faq-question img {
    transform: rotate(-45deg);
    transition: transform 0.2s;
}

.faq input:checked ~ .faq-answer {
    max-height: 100dvh;
    transition: max-height 0.2s;
}

.faq-answer p {
    margin-top: 0.8em;
}

.faq-answer li {
    margin-top: 0.4em;
}

/* bread crumbs */
.bread-crumbs {
    margin-bottom: 1em;
    display: inline-grid;
    grid-auto-flow: column;
    align-items: center;
}

.bread-crumbs img {
    width: 1.5em;
}

.bread-crumbs a {
    text-decoration: none;
    color: var(--text-color);
}

.bread-crumbs .bread-crumbs-current {
    color: #ee9ddc;
}

/* close icon */
.close-icon {
    position: absolute;
    right: 0.5em;
    top: 0;

    display: block;
    height: 1.5em;
    width: 1.5em;
    cursor: pointer;
}

.close-icon:before, .close-icon:after {
    background: var(--subtext-color);
    content: "";
    display: block;
    height: 2px;
    top: 12px;
    position: absolute;
    transition: all .2s ease-out;
    width: 100%;
}

.close-icon:before {
    transform: rotate(-45deg);
}

.close-icon:after {
    transform: rotate(45deg);
}

.close-icon:hover:before, .close-icon:hover:after {
    background: var(--main-color);
}

.search-results {
    color: var(--subtext-color);
    font-size: 0.8em;
    text-align: center;
    margin-top: -0.8em;
    margin-bottom: 1em;
}

/* notifications */
#notifications {
    position: fixed;
    display: grid;
    grid-gap: 0.5em;
    bottom: 15px;
    justify-items: center;
    max-width: calc(var(--max-width) - 10px);
    left: 0;
    right: 0;
    margin: 0 auto;
    max-height: 25vh;
    pointer-events: none;
    user-select: none;
    overflow: hidden;
    z-index: 9999;
}

.notification {
    opacity: 0;
    padding: 0.8em 1em;
    background-color: var(--block-background);
    border: 1px solid var(--border-color);
    border-radius: 0.8em;
    transition: opacity .2s ease-out;
}

.notification-open {
    opacity: 1;
    transition: opacity .2s ease-out;
}

.error-notification {
    background-color: var(--error-background) !important;
    border-color: var(--error-color) !important;
    color: var(--error-color) !important;
}

.success-notification {
    background-color: var(--success-background) !important;
    border-color: var(--success-color) !important;
    color: var(--success-color) !important;
}

.warning-notification {
    background-color: var(--warning-background) !important;
    border-color: var(--warning-color) !important;
    color: var(--warning-color) !important;
}

.info-notification {
    background-color: var(--info-background) !important;
    border-color: var(--info-color) !important;
    color: var(--info-color) !important;
}

@media (max-width: 767px) {
    html {
        font-size: 12px;
    }

    ul {
        margin-left: 12px;
    }

    .content {
        padding: 1em 10px 0 10px;
    }
}