{% set title = "Мои наклейки | Плюшевая наковальня" %}
{% include "components/header.html" %}
    <link rel="stylesheet" type="text/css" href="/styles/profile/stickers.css?v={{version}}">
</head>
<body ondragstart="return false">
    {% include "components/menu.html" %}

    <div class="content">
        <div class="bread-crumbs">
            <span><a href="/">Главная</a></span>
            <img src="/images/icons/bread-crumbs-arrow.svg">
            <span class="bread-crumbs-current">Мои наклейки</span>
        </div>

        <h1>Мои наклейки</h1>

        {% if paid_games %}
        <div class="description">В настоящий момент накоплено {{get_word_form(paid_games, ["наклейка", "наклейки", "наклеек"])}}.</div>
        {% else %}
        <div class="description">Накопленных наклеек пока нет.</div>
        {% endif %}

        <div class="stickers">
            {% for sticker in stickers %}
            <div class="sticker {% if sticker.used %}sticker-used{% endif %}">
                <div class="sticker-use">{% if sticker.used %}Использована {% if sticker.dates|length < 10 %}в долг{% endif %} {{sticker.used.strftime("%d.%m.%Y")}}{% endif %}</div>
                <div class="sticker-cells">
                    {% for i in range(10) %}
                    <div class="sticker-cell">
                        {% if i < (sticker.dates|length) %}
                        <img src="/images/smuzi-sticker-fill.png">
                        <div class="sticker-cell-date">{{sticker.dates[i].strftime("%d.%m.%y")}}</div>
                        {% else %}
                        <img src="/images/smuzi-sticker-empty.png">
                        {% endif %}
                    </div>
                    {% endfor %}
                </div>
            </div>
            {% endfor %}
        </div>
    </div>

    <script src="/js/utils/utils.js?v={{version}}"></script>
    <script src="/js/utils/fetch.js?v={{version}}"></script>

    {% include "components/footer.html" %}
</body>
</html>
