.birthdays {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 1em;
    font-size: 16px;
}

.birthdays .user {
    background-color: #9cc2ff80;
}

@media (max-width: 1023px) {
    .birthdays {
        grid-template-columns: 1fr 1fr;
    }
}

@media (max-width: 679px) {
    .birthdays {
        grid-template-columns: 1fr;
        grid-gap: 0.5em;
    }
}
