{% set title = "Альбомы | Плюшевая наковальня" %}
{% include "components/header.html" %}
    <link rel="stylesheet" type="text/css" href="/styles/utils/user_select.css?v={{version}}">
    <link rel="stylesheet" type="text/css" href="/styles/photos/album.css?v={{version}}">
</head>
<body ondragstart="return false">
    {% include "components/menu.html" %}

    <div class="content">
        <div class="bread-crumbs">
            <span><a href="/">Главная</a></span>
            <img src="/images/icons/bread-crumbs-arrow.svg">
            <span><a href="/albums">Альбомы</a></span>
            <img src="/images/icons/bread-crumbs-arrow.svg">
            <span class="bread-crumbs-current">{{album.title[:50]}}{% if album.title|length > 50 %}...{%endif %}</span>
        </div>

        <h1 id="album-title">{{album.title}}</h1>

        {% if not album_type %}
        <div class="admin-block add-link">
            <span class="arrow-link" onclick="SelectPhotos()"><span class="text">ДОБАВИТЬ</span> <span class="arrow"><img src="/images/icons/add.svg"></span></span>
            <input type="file" accept="images/*" id="photos-input" multiple onchange="UploadPhotos()">
        </div>
        {% elif album_type == "photos_with_me" %}
        <div class="album-controls">
            <div>
                <label class="switch-checkbox">
                    <input type="checkbox" id="only" {% if only %}checked{% endif %} onchange="GetAlbumPhotos()">
                    <span class="switch-checkbox-slider"></span>
                </label>
                <label for="only">Только со мной</label>
            </div>
        </div>
        {% elif album_type == "user_photos" %}
        <div class="album-controls">
            <div id="users"></div>

            <div>
                <label class="switch-checkbox">
                    <input type="checkbox" id="only" {% if only %}checked{% endif %} onchange="GetAlbumPhotos()">
                    <span class="switch-checkbox-slider"></span>
                </label>
                <label for="only">Только выбранные пользователи</label>
            </div>
        </div>
        {% endif %}

        <div id="photos">
            <div class="search-results"></div>
            <div class="photos"></div>
            <div class="loader hidden"><img src="/images/loader.svg"></div>
        </div>
    </div>

    <script src="/js/utils/utils.js?v={{version}}"></script>
    <script src="/js/utils/fetch.js?v={{version}}"></script>
    <script src="/js/utils/infinite_scroll.js?v={{version}}"></script>
    <script src="/js/utils/user_select.js?v={{version}}"></script>

    <script src="/js/entities/album.js?v={{version}}"></script>
    <script src="/js/photos/album.js?v={{version}}"></script>
    <script>
        let config = {
            pageSize: 20,
            url: "/album-photos",

            getParams: GetAlbumPhotosParams,
            onLoad: LoadAlbumPhotos,
            resultMessage: GetResultMessage,
            resize: true
        }

        let userSelectConfig = {multiple: false}
        let userSelect = new UserSelect([{% for user in users %}{username: "{{user.username}}", fullname: "{{user.full_name}}", avatarUrl: "{{user.avatar_url}}"},{% endfor %}], userSelectConfig)
        userSelect.Build(document.getElementById("users"))

        {% if usernames %}
        {% for username in usernames %}
        userSelect.SelectUser("{{username}}")
        {% endfor %}
        {% endif %}

        userSelect.onchange = () => GetAlbumPhotos()

        let album = new Album({{album|tojson}}, {})
        let infiniteScroll = new InfiniteScroll("photos", config)
        GetAlbumPhotos()
    </script>

    {% include "components/footer.html" %}
</body>
</html>
