{% set title = "Альбомы | Плюшевая наковальня" %}
{% include "components/header.html" %}
    <link rel="stylesheet" type="text/css" href="/styles/photos/albums.css?v={{version}}">
</head>
<body ondragstart="return false">
    {% include "components/menu.html" %}

    <div class="content">
        <div class="bread-crumbs">
            <span><a href="/">Главная</a></span>
            <img src="/images/icons/bread-crumbs-arrow.svg">
            <span class="bread-crumbs-current">Альбомы</span>
        </div>

        <h1>АЛЬБОМЫ</h1>

        <div class="albums">
            {% for album in albums %}
            <div class="album">
                <div class="album-cover">
                    <a href="/albums/{{album.album_id}}"><img src="https://plush-anvil.ru{{photo_id2photo[album.cover_id].preview_url if album.cover_id else '/images/albums/default.png'}}"></a>
                </div>
                <div class="album-title">
                    <span>{{album.title}}</span>
                    <a href="/albums/{{album.album_id}}" class="circle-link"><img src="/images/icons/arrow-right.svg"></a>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>

    <script src="/js/utils/utils.js?v={{version}}"></script>
    <script src="/js/utils/fetch.js?v={{version}}"></script>

    {% include "components/footer.html" %}
</body>
</html>
