/**************************** MONTH ****************************/
.schedule-month {
    display: grid;
    grid-template-columns: 1fr max-content 1fr;
    grid-gap: 10px;
    align-items: center;
    border-radius: 20px;
    background-color: #fddc81;
    height: 64px;
    margin-bottom: 16px;
}

.schedule-month img {
    cursor: pointer;
}

.schedule-month > :first-child {
    justify-self: end;
}

.schedule-month span {
    font-size: 40px;
    font-weight: bold;
    justify-self: center;
}

.schedule-month > :last-child {
    justify-self: start;
}

/*************************** PLACES ****************************/
.schedule-places {
    display: grid;
    grid-auto-flow: column;
    grid-gap: 20px;
    max-width: 100%;
    overflow-x: auto;
    font-size: 16px;
    margin-bottom: 16px;
}

.schedule-place {
    display: grid;
    grid-template-columns: max-content 1fr;
    grid-gap: 10px;
    align-items: center;
    white-space: nowrap;
}

.schedule-place-color {
    display: inline-block;
    width: 37px;
    height: 32px;
    border-radius: 10px;
}

/*************************** CALENDAR ***************************/
.schedule-calendar {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-gap: 20px;
}

.schedule-calendar-weekday {
    border-radius: 10px;
    background-color: #fddc81;
    text-align: center;
    padding: 14px;
    font-size: 16px;
}

.schedule-calendar-cell {
    aspect-ratio: 1;
    border-radius: 10px;
/*    border: 1px solid #888;*/
}

.schedule-calendar-day {
    background-color: #fddc81;
    border-radius: 10px;
    width: 30px;
    height: 24px;
    display: grid;
    align-items: center;
    justify-items: center;
}

/*********************** CALENDAR QUIZZES ***********************/
.schedule-calendar-quizzes {
    height: 100%;
    display: grid;
}

@media (max-width: 767px) {
    /**************************** MONTH ****************************/
    .schedule-month {
        height: 30px;
        border-radius: 10px;
        margin-bottom: 10px;
    }

    .schedule-month img {
        width: 16px;
    }

    .schedule-month span {
        font-size: 16px;
    }

    /*************************** PLACES ****************************/
    .schedule-places {
        font-size: 14px;
        grid-gap: 6px;
    }

    .schedule-place {
        grid-gap: 3px;
    }

    .schedule-place-color {
        width: 10px;
        height: 8px;
        border-radius: 3px;
    }

    /*************************** CALENDAR ***************************/
    .schedule-calendar {
        grid-gap: 4px;
    }

    .schedule-calendar-weekday {
        border-radius: 3px;
        padding: 3px;
        font-size: 10px;
    }

    .schedule-calendar-cell {
        border-radius: 5px;
        position: relative;
    }

    .schedule-calendar-day {
        position: absolute;
        lefT: 0;
        top: 0;
        background-color: transparent;
        border-radius: 5px;
        width: 100%;
        height: 100%;
        display: grid;
        align-items: center;
        justify-items: center;
    }

    /*********************** CALENDAR QUIZZES ***********************/
    .schedule-calendar-quizzes {
        grid-gap: 3px;
    }

    .schedule-calendar-quizzes:has(> :nth-child(1)) {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
    }

    .schedule-calendar-quizzes:has(> :nth-child(2)) {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
    }

    .schedule-calendar-quizzes:has(> :nth-child(3)), .schedule-calendar-quizzes:has(> :nth-child(4)) {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    }

    .schedule-calendar-quizzes:has(> :nth-child(3)) > :nth-child(3) {
        grid-column: 1 / -1;
    }

    .schedule-calendar-quizzes:has(> :nth-child(4))  > :nth-child(3) {
        grid-column: 1;
    }

    .schedule-calendar-quiz {
        display: block;
        border-radius: 5px;
    }

    .schedule-calendar-quiz * {
        display: none;
    }
}
