.content {
    display: grid;
    align-items: center;
    justify-items: center;
    margin: 0 auto;
}

.blob-1 {
    width: 1004px;
    height: 983px;
    top: 410px;
    left: -369px;
}

.blob-2 {
    width: 973px;
    height: 996px;
    top: -187px;
    right: -117px;
}

.change-password {
    background: #ffffff4d;
    border: 1px solid var(--border-color);
    backdrop-filter: blur(10px);

    border-radius: 20px;
    padding: 80px 48px;
    width: 100%;
    max-width: 850px;

    display: grid;
    grid-gap: 20px;
}

@media (min-width: 768px) {
    .change-password .arrow-link-full {
        display: inline-grid;
    }
}

@media (max-width: 1023px) {
    .blob-1 {
        width: 709px;
        height: 694px;
        top: 384px;
        left: -376px;
    }

    .blob-2 {
        width: 647px;
        height: 662px;
        top: -76px;
        right: -197px;
    }
}

@media (max-width: 767px) {
    .blob-1 {
        width: 415px;
        height: 406px;
        top: 284px;
        left: -157px;
    }

    .blob-2 {
        width: 321px;
        height: 328px;
        top: -61px;
        right: -113px;
    }

    .change-password {
        padding: 30px 10px;
        grid-gap: 10px;
    }

    h1 {
        text-align: center;
    }
}
