{% set title = "Плюшевая наковальня" %}
{% include "components/header.html" %}
    <link rel="stylesheet" type="text/css" href="/styles/index.css?v={{version}}">
</head>
<body ondragstart="return false">
    {% include "components/menu.html" %}

    <div class="content">
        <div class="first-screen">
            <div class="team">КОМАНДА</div>
            <div class="team-name">ПЛЮШЕВАЯ НАКОВАЛЬНЯ</div>

            <div class="rating">
                <div class="rating-curr">
                    <div class="rating-curr-value">{{rating_info.rating}}</div>
                    <div class="rating-curr-text">рейтинг смузи<br>{{rating_info.curr_level.level}} уровень, <b>{{rating_info.curr_level.name}}</b></div>
                </div>
                <div class="rating-mean"><b>{{rating_info.mean_rating|round(2)}}</b> в среднем за <b>{{get_word_form(rating_info.games, ["игру", "игры", "игр"])}}</b></div>
                {% if rating_info.next_level %}
                <div class="rating-next">До уровня "{{rating_info.next_level.level.name}}" <b>~{{get_word_form(rating_info.next_level.lost_games, ["игра", "игры", "игр"])}}</b> и <b>{{get_word_form(rating_info.next_level.lost_score, ["балл", "балла", "баллов"])}}</b></div>

                <div class="rating-next-date">Примерная дата: {{rating_info.next_level.end_date.strftime("%d.%m.%Y")}} (через {{get_word_form(rating_info.next_level.lost_days, ["день", "дня", "дней"])}})</div>
                {% endif %}
            </div>

            <div class="anvil">
                <img src="/images/anvil.png">
            </div>
        </div>

        {% if nearest_quizzes %}
        <div class="nearest-quizzes">
            {% for quiz in nearest_quizzes %}
            {% set place = place_id2place[quiz.place_id] %}
            {% set organizer = organizer_id2organizer[quiz.organizer_id] %}
            <div class="nearest-quiz">
                <div class="quiz-header">БЛИЖАЙШИЙ КВИЗ</div>
                <div class="quiz-name">
                    <img src="{{organizer.image_url}}">
                    <div>{{quiz.name.upper()}}</div>
                </div>
                <div class="quiz-description">{{quiz.description[:200]}}{% if quiz.description|length > 200 %}...{% endif %}</div>
                <div class="quiz-date-address">
                    <div class="quiz-date"><img src="/images/icons/calendar.svg"> <span>{{quiz.datetime.strftime("%d.%m.%Y %H:%M")}}</span></div>
                    <div class="quiz-address"><img src="/images/icons/location.svg"> <span><a class="link" target="_blank" href="{{place.yandex_map_link}}">{{place.name}}</a></span></div>
                </div>
            </div>
            {% endfor %}
        </div>
        {% endif %}

        <h2>РАСПИСАНИЕ</h2>

        <div class="link-header">
            <h2>О КОМАНДЕ</h2>
            <a class="arrow-link" href="/analytics"><span class="text">ПОДРОБНЕЕ</span> <span class="arrow"><img src="/images/icons/arrow-right.svg"></span></a>
        </div>

        <div class="about-team">
            <div class="about-team-block">
                <div class="about-team-value">{{team_analytics.games}}</div>
                <div class="about-team-name">{{get_word_form(team_analytics.games, ["игру", "игры", "игр"], True)}} сыграли</div>
            </div>

            <div class="about-team-block">
                <div class="about-team-value">{{team_analytics.wins}}</div>
                <div class="about-team-name">{{get_word_form(team_analytics.wins, ["раз", "раза", "раз"], True)}} выиграли</div>
            </div>

            <div class="about-team-block">
                <div class="about-team-value">{{team_analytics.top3}}</div>
                <div class="about-team-name">{{get_word_form(team_analytics.top3, ["раз", "раза", "раз"], True)}} вошли в тройку</div>
            </div>

            <div class="about-team-block">
                <div class="about-team-value">{{team_analytics.mean_position|round(1)}}</div>
                <div class="about-team-name">позиция в среднем</div>
            </div>

            <div class="about-team-block">
                <div class="about-team-value">{{team_analytics.mean_players|round(1)}}</div>
                <div class="about-team-name">игроков в среднем</div>
            </div>
        </div>

        <div class="link-header">
            <h2>BEST OF THE BEST</h2>
            <a class="arrow-link" href="/albums"><span class="text">ПОДРОБНЕЕ</span> <span class="arrow"><img src="/images/icons/arrow-right.svg"></span></a>
        </div>

        <div class="top-albums">
            {% for album in last_albums %}
            <div class="top-album">
                <a href="/albums/{{album.album_id}}">
                    <img src="https://plush-anvil.ru{{photo_id2photo[album.cover_id].url}}">
                </a>
            </div>
            {% endfor %}
        </div>

        <h2>FAQ</h2>

        <div class="faq">
            <input type="checkbox" id="faq-1">
            <div class="faq-question">
                <label for="faq-1">ЧТО ЗА УМ, КМС, ГП, КАРАОКЕ-КВИЗ И Т.Д?</label>
                <label class="faq-circle" for="faq-1"><img src="/images/icons/arrow-right.svg"></label>
            </div>

            <div class="faq-answer">
                <p>Так мы сокращаем названия некоторых типов игр, а именно:</p>
                <ul>
                    <li><span class="term">УМ</span> – угадай мелодию. Необходимо определять исполнителя трека по аудио-отрывку.</li>
                    <li><span class="term">Караоке-квиз</span> – вопросы на знание текста песен: продолжить строчку, назвать пропущенное слово, посчитать что-то и т.д. Бывает версия <span class="term">только припевы</span> – аналогичные вопросы, но только про припевы.</li>
                    <li><span class="term">Танцуем и поём</span> – сочетание механик <span class="term">УМ</span> и <span class="term">караоке-квиза</span>. В турах фигурируют как вопросы на знание исполнителя, так и на знание текстов песен.</li>
                    <li><span class="term">Музыкальный мега-квиз</span> – сочетание механик <span class="term">УМ</span>, <span class="term">караоке-квиза</span> и текстовых вопросов (ребусы, видеоклипы и т.д.).</li>
                    <li><span class="term">КМС</span> – кино, мультфильмы и сериалы. Вопросы на знание названий, сюжета, актёров и т.д. по различным видам кинематографа.</li>
                    <li><span class="term">Медиа-микс</span> – то же, что и <span class="term">КМС</span>, но с музыкальными вопросами.</li>
                    <li><span class="term">ГП</span> – игры по Гарри Поттеру (бывают как только по фильмам, только по книгам, так и по всему сразу).</li>
                    <li><span class="term">Телеквиз</span> – каждый тур игры имеет механику схожую с одной из телевизионных игр: кто хочет стать миллионером – даны четыре варианта ответов, поле чудес – открыта какая-то буква ответа, угадай мелодию – вопросы из <span class="term">УМ</span> квизов и т.д.</li>
                    <li><span class="term">Обо всём</span> – классические квизы с вопросами на самые различные общие темы.</li>
                </ul>
            </div>
        </div>

        <div class="faq">
            <input type="checkbox" id="faq-2">
            <div class="faq-question">
                <label for="faq-2">КАК ВЫ СОСТАВЛЯЕТЕ РАСПИСАНИЕ КВИЗОВ?</label>
                <label class="faq-circle" for="faq-2"><img src="/images/icons/arrow-right.svg"></label>
            </div>

            <div class="faq-answer">
                <p>В конце месяца, когда организаторы составляют своё расписание игр, мы выбираем интересующие нас игры и пишем о своих пожеланиях капитану команды (Борисова Юля). Она формирует опросы с выбранными квизами и  игроки голосуют за те, на которые хотят пойти.</p>

                <p>Если в результате опроса оказывается, что какие-то игры всё-таки не так интересны другим игрокам, они отбрасываются, а на остальные Юля регистрирует команду.</p>

                <p>Затем за один-два дня до квиза создаются опросы про конкретный квиз, где игроки окончательно решают, пойдут они на квиз или нет. Аналогично, если в итоге не идёт никто, регистрация на квиз отменяется.</p>
            </div>
        </div>

        <div class="faq">
            <input type="checkbox" id="faq-3">
            <div class="faq-question">
                <label for="faq-3">НА КАКИЕ КВИЗЫ ВЫ ХОДИТЕ?</label>
                <label class="faq-circle" for="faq-3"><img src="/images/icons/arrow-right.svg"></label>
            </div>

            <div class="faq-answer">
                <p>В основном нас интересуют квизы по кино, мультфильмам и сериалам (<span class="term">КМС</span>), музыкальные (<span class="term">УМ</span>, <span class="term">караоке-квиз</span>, ...), <span class="term">обо всём</span>, <span class="term">ГП</span> и некоторые тематические вроде квиза по Сумеркам, по сериалу "Как я встретил вашу маму" и т.д.</p>

                <p>Если же есть желание пойти на что-то ещё, не стоит стесняться, а можно предложить команде сходить на что-то новое.</p>
            </div>
        </div>

        <div class="faq">
            <input type="checkbox" id="faq-4">
            <div class="faq-question">
                <label for="faq-4">К КАКИМ ОРГАНИЗАТОРАМ КВИЗОВ ВЫ ХОДИТЕ?</label>
                <label class="faq-circle" for="faq-4"><img src="/images/icons/arrow-right.svg"></label>
            </div>

            <div class="faq-answer">
                <p>В основном мы ходим на квизы к <a class="link" href="https://smuzi-quiz.com/" target="_blank">Смузи</a>. Раньше ходили на <a class="link" href="https://peacequizmsk.ru/">Пис-квиз</a>, но, кажется, это было давно и неправда.</p>

                <p>Ещё мы бываем у <a class="link" href="https://bubo-quiz.com/" target="_blank">Bubo</a>, <a class="link" href="https://sheikerq.ru/" target="_blank">Шейкера</a> и <a class="link" href="https://vk.com/capybara_msk" target="_blank">Капибары</a>.</p>
            </div>
        </div>
    </div>

    <script src="/js/utils/utils.js?v={{version}}"></script>
    <script src="/js/utils/fetch.js?v={{version}}"></script>

    {% include "components/footer.html" %}
</body>
</html>
