{% set title = "Плюшевая наковальня" %}
{% include "components/header.html" %}
    <link rel="stylesheet" type="text/css" href="/styles/index.css?v={{version}}">
</head>
<body ondragstart="return false">
    {% include "components/menu.html" %}

    <div class="content">
        <div class="first-screen">
            <div class="team">КОМАНДА</div>
            <div class="team-name">ПЛЮШЕВАЯ НАКОВАЛЬНЯ</div>

            <div class="rating">
                <div class="rating-curr">
                    <div class="rating-curr-value">{{rating_info.rating}}</div>
                    <div class="rating-curr-text">рейтинг смузи<br>{{rating_info.curr_level.level}} уровень, <b>{{rating_info.curr_level.name}}</b></div>
                </div>
                <div class="rating-mean"><b>{{rating_info.mean_rating|round(2)}}</b> в среднем за <b>{{get_word_form(rating_info.games, ["игру", "игры", "игр"])}}</b></div>
                {% if rating_info.next_level %}
                <div class="rating-next">До уровня "{{rating_info.next_level.level.name}}" <b>~{{get_word_form(rating_info.next_level.lost_games, ["игра", "игры", "игр"])}}</b> и <b>{{get_word_form(rating_info.next_level.lost_score, ["балл", "балла", "баллов"])}}</b></div>

                <div class="rating-next-date">Примерная дата: {{rating_info.next_level.end_date.strftime("%d.%m.%Y")}} (через {{get_word_form(rating_info.next_level.lost_days, ["день", "дня", "дней"])}})</div>
                {% endif %}
            </div>
        </div>

        {% if nearest_quizzes %}
        <div class="nearest-quizzes">
            {% for quiz in nearest_quizzes %}
            {% set place = place_id2place[quiz.place_id] %}
            {% set organizer = organizer_id2organizer[quiz.organizer_id] %}
            <div class="nearest-quiz">
                <div class="quiz-header">БЛИЖАЙШИЙ КВИЗ</div>
                <div class="quiz-name">
                    <img src="{{organizer.image_url}}">
                    <div>{{quiz.name.upper()}}</div>
                </div>
                <div class="quiz-description">{{quiz.description}}</div>
                <div class="quiz-date-address">
                    <div class="quiz-date"><img src="/images/icons/calendar.svg"> {{quiz.datetime.strftime("%d.%m.%Y %H:%M")}}</div>
                    <div class="quiz-address"><img src="/images/icons/location.svg"> <a class="link" target="_blank" href="{{place.yandex_map_link}}">{{place.name}}</a> (м. {{place.metro_station}})</div>
                </div>
            </div>
            {% endfor %}
        </div>
        {% endif %}

        <h2>РАСПИСАНИЕ</h2>

        <div class="link-header">
            <h2>О КОМАНДЕ</h2>
            <a class="arrow-link" href="/analytics"><span class="text">ПОДРОБНЕЕ</span> <span class="arrow"><img src="/images/icons/arrow-right.svg"></span></a>
        </div>

        <div class="link-header">
            <h2>BEST OF THE BEST</h2>
            <a class="arrow-link" href="/albums"><span class="text">ПОДРОБНЕЕ</span> <span class="arrow"><img src="/images/icons/arrow-right.svg"></span></a>
        </div>

        <h2>FAQ</h2>
    </div>

    <script src="/js/utils/utils.js?v={{version}}"></script>
    <script src="/js/utils/fetch.js?v={{version}}"></script>

    {% include "components/footer.html" %}
</body>
</html>
