{% set title = "Достижения | Плюшевая наковальня" %}
{% include "components/header.html" %}
    <link rel="stylesheet" type="text/css" href="/styles/utils/info_panels.css?v={{version}}">
    <link rel="stylesheet" type="text/css" href="/styles/utils/user_select.css?v={{version}}">
    <link rel="stylesheet" type="text/css" href="/styles/admin/achievements.css?v={{version}}">
    <link rel="stylesheet" type="text/css" href="/styles/entities/user.css?v={{version}}">
</head>
<body ondragstart="return false">
    {% include "components/menu.html" %}

    <main>
        {% include "components/gradients.html" %}

        <div class="content">
            <div class="bread-crumbs">
                <span><a href="/">Главная</a></span>
                <img src="/images/icons/bread-crumbs-arrow.svg">
                <span class="bread-crumbs-current">Достижения</span>
            </div>

            <h1>Достижения</h1>
            <div class="add-link">
                <span class="arrow-link" onclick="infos.Show('achievements-info')"><span class="text">УПРАВЛЯТЬ</span> <span class="arrow"><img src="/images/icons/manage.svg"></span></span>
            </div>

            <div id="achievements">
                <div class="search-results"></div>
                <div class="achievements"></div>
                <div class="loader hidden"><img src="/images/loader.svg"></div>
            </div>
        </div>
    </main>

    <script src="/js/utils/utils.js?v={{version}}"></script>
    <script src="/js/utils/fetch.js?v={{version}}"></script>
    <script src="/js/utils/infinite_scroll.js?v={{version}}"></script>
    <script src="/js/utils/swipe_handler.js?v={{version}}"></script>
    <script src="/js/utils/info_panels.js?v={{version}}"></script>
    <script src="/js/utils/user_select.js?v={{version}}"></script>

    <script src="/js/entities/handle_achievement_type.js?v={{version}}"></script>
    <script src="/js/entities/user.js?v={{version}}"></script>

    <script src="/js/admin/achievements.js?v={{version}}"></script>
    <script>
        let config = {
            pageSize: 6,
            url: "/handle-achievements",

            getParams: GetParams,
            onLoad: LoadAchievements,
            resultMessage: null
        }

        let infos = new InfoPanels()

        let userSelectConfig = {multiple: true}
        let userSelect = new UserSelect([{% for user in users %}{username: "{{user.username}}", fullname: "{{user.full_name}}", avatarUrl: "{{user.avatar_url}}"},{% endfor %}], userSelectConfig)
        InitAchievementsInfo()

        let infiniteScroll = new InfiniteScroll("achievements", config)
        infiniteScroll.LoadContent()
    </script>

    {% include "components/footer.html" %}
</body>
</html>
