{% set title = "Организаторы | Плюшевая наковальня" %}
{% include "components/header.html" %}
    <link rel="stylesheet" type="text/css" href="/styles/utils/info_panels.css?v={{version}}">
    <link rel="stylesheet" type="text/css" href="/styles/admin/organizers.css?v={{version}}">
    <link rel="stylesheet" type="text/css" href="/styles/entities/organizer.css?v={{version}}">
</head>
<body ondragstart="return false">
    {% include "components/menu.html" %}

    <div class="content">
        <div class="bread-crumbs">
            <span><a href="/">Главная</a></span>
            <img src="/images/icons/bread-crumbs-arrow.svg">
            <span class="bread-crumbs-current">Организаторы</span>
        </div>

        <h1>Организаторы</h1>
        <div class="add-link">
            <span class="arrow-link" onclick="infos.Show('organizer-add-info')"><span class="text">ДОБАВИТЬ</span> <span class="arrow"><img src="/images/icons/add.svg"></span></span>
        </div>

        <div id="organizers">
            <div class="search-results"></div>
            <div class="organizers"></div>
            <div class="loader hidden"><img src="/images/loader.svg"></div>
        </div>
    </div>

    <script src="/js/utils/utils.js?v={{version}}"></script>
    <script src="/js/utils/fetch.js?v={{version}}"></script>
    <script src="/js/utils/infinite_scroll.js?v={{version}}"></script>
    <script src="/js/utils/swipe_handler.js?v={{version}}"></script>
    <script src="/js/utils/info_panels.js?v={{version}}"></script>

    <script src="/js/inputs/color_input.js?v={{version}}"></script>

    <script src="/js/entities/organizer.js?v={{version}}"></script>

    <script src="/js/admin/organizers.js?v={{version}}"></script>
    <script>
        let config = {
            pageSize: 5,
            url: "/organizers",

            onLoad: LoadOrganizers,
            resultMessage: GetResultMessage,
            resize: true
        }

        let infos = new InfoPanels()

        let addOrganizer = new Organizer({organizer_id: "add", name: "", description: "", image_url: "/images/organizers/default.png"})
        infos.Add(addOrganizer.BuildInfo())

        let infiniteScroll = new InfiniteScroll("organizers", config)
        infiniteScroll.LoadContent()
    </script>

    {% include "components/footer.html" %}
</body>
</html>
