{% set title = "Места | Плюшевая наковальня" %}
{% include "components/header.html" %}
    <link rel="stylesheet" type="text/css" href="/styles/utils/info_panels.css?v={{version}}">
    <link rel="stylesheet" type="text/css" href="/styles/admin/places.css?v={{version}}">
    <link rel="stylesheet" type="text/css" href="/styles/entities/place.css?v={{version}}">
</head>
<body ondragstart="return false">
    {% include "components/menu.html" %}

    <div class="content">
        <div class="bread-crumbs">
            <span><a href="/">Главная</a></span>
            <img src="/images/icons/bread-crumbs-arrow.svg">
            <span class="bread-crumbs-current">Места</span>
        </div>

        <div class="link-header">
            <h1>Места</h1>
            <span class="arrow-link" onclick="infos.Show('place-add-info')"><span class="text">ДОБАВИТЬ</span> <span class="arrow"><img src="/images/icons/add.svg"></span></span>
        </div>

        <div id="places">
            <div class="search-results"></div>
            <div class="places"></div>
            <div class="loader hidden"><img src="/images/loader.svg"></div>
        </div>

        <datalist id="metro-stations">
            {% for metro_station in metro_stations %}<option value="{{metro_station}}">{{metro_station}}</option>{% endfor %}
        </datalist>
    </div>

    <script src="/js/utils/utils.js?v={{version}}"></script>
    <script src="/js/utils/fetch.js?v={{version}}"></script>
    <script src="/js/utils/infinite_scroll.js?v={{version}}"></script>
    <script src="/js/utils/swipe_handler.js?v={{version}}"></script>
    <script src="/js/utils/info_panels.js?v={{version}}"></script>

    <script src="/js/inputs/color_input.js?v={{version}}"></script>

    <script src="/js/entities/place.js?v={{version}}"></script>

    <script src="/js/admin/places.js?v={{version}}"></script>
    <script>
        let config = {
            pageSize: 3,
            url: "/places",

            onLoad: LoadPlaces,
            resultMessage: GetResultMessage,
            resize: true
        }

        let infos = new InfoPanels()

        let addPlace = new Place({place_id: "add", name: "", address: "", metro_station: "", yandex_map_link: "", color: ""})
        infos.Add(addPlace.BuildInfo())

        let infiniteScroll = new InfiniteScroll("places", config)
        infiniteScroll.LoadContent()
    </script>

    {% include "components/footer.html" %}
</body>
</html>
