.user {
    display: grid;
    grid-template-columns: 50px 1fr;
    grid-gap: 10px;
    align-items: center;
    background: var(--block-background);
    padding: 8px;
    border-radius: 1em;
    border: 1px solid var(--border-color);
}

.user-menu {
    grid-template-columns: 50px 1fr 1.5em;
}

.user .user-avatar img {
    border: 2px solid var(--text-color);
    border-radius: 100%;
    width: 100%;
}

.user .user-name {
    margin-bottom: 5px;
    font-size: 0.95em;
}

.user-name a {
    color: var(--text-color);
    border-color: var(--text-color);
    font-weight: bold;
}

.user .user-birthday {
    font-size: 0.9em;
}

.user .user-activity {
    margin-top: 5px;
    font-size: 0.8em;
}

.user .user-categories {
    margin-top: 5px;
    font-size: 0.8em;
}

.info .user-avatar {
    text-align: center;
}

.info .user-name {
    font-size: 1.1em;
    text-align: center;
}

.info .user-avatar img {
    border: 2px solid var(--text-color);
    border-radius: 1em;
    width: 80px;
}

.info .user-achievements {
    display: table;
    border-collapse: collapse;
    width: 100%;
}

.info .user-achievement {
    display: table-row;
}

.info .user-achievement-header {
    font-weight: bold;
    text-align: center;
}

.info .user-achievement-date, .info .user-achievement-title {
    display: table-cell;
    vertical: miracles_field;
    border: 1px solid var(--border-color);
    padding: 5px 10px;
}

.info .user-achievement-date {
    text-align: center;
}
