{% set title = "Аналитика | Плюшевая наковальня" %}
{% include "components/header.html" %}
    <link rel="stylesheet" type="text/css" href="/styles/plots/year_grid.css?v={{version}}">
    <link rel="stylesheet" type="text/css" href="/styles/entities/user.css?v={{version}}">
    <link rel="stylesheet" type="text/css" href="/styles/common/analytics.css?v={{version}}">
</head>
<body ondragstart="return false">
    {% include "components/menu.html" %}

    <div class="content">
        <div class="bread-crumbs">
            <span><a href="/">Главная</a></span>
            <img src="/images/icons/bread-crumbs-arrow.svg">
            <span><a href="/">О нас</a></span>
            <img src="/images/icons/bread-crumbs-arrow.svg">
            <span class="bread-crumbs-current">Аналитика</span>
        </div>

        <h1>Аналитика</h1>

        <div class="analytics">
            <label>Показать данные за <select class="basic-select" id="period" onchange="ChangePeriod()">
                <option value="">всё время</option>
                <option value="last-year">прошлый год</option>
                <option value="curr-year">текущий год</option>
                <option value="curr-month">текущий месяц</option>
                <option value="last-month">прошлый месяц</option>
                <option value="period">период</option>
            </select></label>

            <input type="text" class="basic-input hidden" id="period-dates" onchange="ChangeDates()">
        </div>

        <div class="analytics">
            <h2>АКТИВНОСТЬ КОМАНДЫ</h2>

            <div id="team-activity">
                <div class="loader hidden"><img src="/images/loader.svg"></div>
                <div></div>
            </div>
        </div>

        <div class="analytics">
            <h2>РЕЗУЛЬТАТЫ ИГР</h2>

            <div id="games-result">
                <div class="loader hidden"><img src="/images/loader.svg"></div>
                <div></div>
            </div>
        </div>

        <div class="analytics">
            <h2>РАСПРЕДЕЛЕНИЕ МЕСТ</h2>

            <div id="position-distribution">
                <div class="loader hidden"><img src="/images/loader.svg"></div>
                <div></div>
            </div>
        </div>

        <div class="analytics">
            <h2>ТОП АКТИВНЫХ ИГРОКОВ</h2>

            <div id="top-players">
                <div class="loader hidden"><img src="/images/loader.svg"></div>
                <div></div>
            </div>
        </div>
    </div>

    <script src="/js/utils/utils.js?v={{version}}"></script>
    <script src="/js/utils/fetch.js?v={{version}}"></script>
    <script src="/js/utils/content_loader.js?v={{version}}"></script>

    <script src="/js/plots/year_grid.js?v={{version}}"></script>
    <script src="/js/plots/bar_chart.js?v={{version}}"></script>
    <script src="/js/plots/chart.js?v={{version}}"></script>

    <script src="/js/entities/category.js?v={{version}}"></script>
    <script src="/js/entities/user.js?v={{version}}"></script>

    <script src="/js/about/analytics.js?v={{version}}"></script>
    <script>
        {% if period in ["", "last-year", "curr-year", "last-month", "curr-month"] %}
        document.getElementById("period").value = "{{period}}"
        document.getElementById("period-dates").value = "{{period}}"
        document.getElementById("period-dates").classList.add("hidden")
        {% elif dates %}
        document.getElementById("period").value = "period"
        document.getElementById("period-dates").value = "{{period}}"
        document.getElementById("period-dates").classList.remove("hidden")
        {% endif %}

        let loaderConfigs = [
            {blockId: "team-activity", url: "/team-activity-analytics", getParams: GetParams, onLoad: LoadTeamActivity, load: true},
            {blockId: "games-result", url: "/games-result-analytics", getParams: GetParams, onLoad: LoadGamesResult, load: true},
            {blockId: "position-distribution", url: "/position-distribution-analytics", getParams: GetParams, onLoad: LoadPositions, load: true},
            {blockId: "top-players", url: "/top-players-analytics", getParams: GetParams, onLoad: LoadTopPlayers, load: true},
        ]

        let loaders = []
        for (let config of loaderConfigs)
            loaders.push(new ContentLoader(config))
    </script>

    {% include "components/footer.html" %}
</body>
</html>
